body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 50px; /* Increased padding to prevent cutting off the top */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px; /* Increased width to accommodate 3 boards per row */
    width: 100%;
    display: none;
    margin-top: 20px;
}

.container h1 {
    color: #333;
}

.container h2 {
    color: #666;
}

.container button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #45a049;
}

.board-selection {
    margin-top: 20px;
}

#boardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust grid template */
    gap: 70px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fafafa;
}

.number {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}

.red { background-color:  #D32F2F; }
.yellow { background-color:  #FBC02D; }
.green { background-color: #388E3C; }
.blue { background-color: #1976D2; }

.selected {
    border-color: #E91E63;
}

.tickets-container {
    margin-top: 20px;
    text-align: left;
}

.ticket {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.draw-results {
    margin-top: 20px;
    text-align: left;
}

#userDashboard {
    margin-left: 200px;
    margin-right: 200px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    padding-top: 20px;
}
